async-lru==2.0.4
setproctitle==1.3.4
jupyterlab_pygments==0.3.0
notebook_shim==0.2.4
tqdm==4.66.5
filelock==3.13.1
cycler==0.11.0
frozendict==2.4.2
torchmetrics==1.6.1
jsonschema-specifications==2024.10.1
conda==25.1.1
Bottleneck==1.4.2
conda_package_streaming==0.11.0
jupyterlab_widgets==3.0.13
six==1.16.0
torchvision==0.20.1
debugpy==1.8.12
conda-libmamba-solver==24.9.0
docker-pycreds==0.4.0
nvidia-ml-py==12.560.30
pytz==2024.1
threadpoolctl==3.6.0
comm==0.2.2
pyarrow==19.0.1
propcache==0.2.1
datasets==3.3.2
kiwisolver==1.4.8
archspec==0.2.3
jsonpatch==1.33
requests==2.32.3
conda-anaconda-telemetry==0.1.1
jupyter-lsp==2.2.5
idna==3.7
pure_eval==0.2.3
anyio==4.8.0
tornado==6.4.2
nest-asyncio==1.6.0
psutil==6.1.1
httpx==0.28.1
PyQt5==5.15.10
packaging==24.1
uri-template==1.3.0
beautifulsoup4==4.12.3
charset-normalizer==3.3.2
nbconvert==7.16.5
anaconda-anon-usage==0.5.0
urllib3==2.2.3
traitlets==5.14.3
fsspec==2024.12.0
fqdn==1.5.1
ipython==8.31.0
transformers==4.49.0
scipy==1.15.2
cryptography==43.0.3
ply==3.11
gitdb==4.0.12
aiohttp==3.11.11
websocket-client==1.8.0
joblib==1.4.2
isoduration==20.11.0
fastjsonschema==2.21.1
jupyterlab==4.3.4
pillow==11.0.0
aiosignal==1.3.2
numpy==2.2.1
nbclient==0.10.2
termcolor==2.5.0
sympy==1.13.1
platformdirs==3.10.0
Brotli==1.0.9
lightning-utilities==0.11.9
webcolors==24.11.1
pycparser==2.21
triton==3.1.0
rpds-py==0.22.3
pydantic==2.10.6
certifi==2025.1.31
rfc3339-validator==0.1.4
notebook==7.3.2
pip==24.2
mpmath==1.3.0
aiohappyeyeballs==2.4.4
editdistance==0.8.1
contourpy==1.3.1
MarkupSafe==3.0.2
MarkupSafe==2.1.3
matplotlib==3.10.0
pydantic_core==2.27.2
tokenizers==0.21.0
jsonpointer==2.1
pyrsdameraulevenshtein==1.1.0
networkx==3.4.2
g4f==0.4.8.6
mkl_fft==1.3.11
jupyter_server_terminals==0.5.3
smmap==5.0.2
Jinja2==3.1.5
Jinja2==3.1.4
PyQt5_sip==12.13.0
rfc3986-validator==0.1.1
jsonschema==4.23.0
conda-package-handling==2.4.0
webencodings==0.5.1
numexpr==2.10.1
prometheus_client==0.21.1
jupyter_server==2.15.0
boltons==23.0.0
mistune==3.1.0
attrs==24.3.0
jupyter-events==0.11.0
nvitop==1.4.1
nbformat==5.10.4
pandocfilters==1.5.1
matplotlib-inline==0.1.7
einops==0.8.0
widgetsnbextension==4.0.13
tabulate==0.9.0
multidict==6.1.0
python-dateutil==2.9.0.post0
Pygments==2.19.1
tinycss2==1.4.0
python-json-logger==3.2.1
h11==0.14.0
unicodedata2==15.1.0
defusedxml==0.7.1
truststore==0.8.0
tiktoken==0.9.0
zstandard==0.23.0
soupsieve==2.6
sip==6.7.12
jupyter-console==6.6.3
click==8.1.8
peft==0.14.0
argon2-cffi-bindings==21.2.0
pytorch-lightning==2.5.0.post0
pandas==2.2.3
wheel==0.44.0
asttokens==3.0.0
stack-data==0.6.3
ptyprocess==0.7.0
pyparsing==3.2.0
PyYAML==6.0.2
libmambapy==1.5.11
jupyterlab_server==2.27.3
types-python-dateutil==2.9.0.20241206
huggingface-hub==0.29.2
terminado==0.18.1
cachetools==5.5.1
arrow==1.3.0
bleach==6.2.0
pycryptodome==3.22.0
jupyter==1.1.1
GitPython==3.1.44
safetensors==0.5.3
referencing==0.36.1
jupyter_client==8.6.3
regex==2024.11.6
prompt_toolkit==3.0.50
annotated-types==0.7.0
pyzmq==26.2.0
pexpect==4.9.0
scikit-learn==1.6.1
pluggy==1.5.0
httpcore==1.0.7
frozenlist==1.5.0
ruamel.yaml==0.18.6
ipykernel==6.29.5
typing_extensions==4.12.2
sniffio==1.3.1
conda-content-trust==0.2.0
wandb==0.19.4
multiprocess==0.70.16
ruamel.yaml.clib==0.2.8
executing==2.2.0
mkl_random==1.2.8
decorator==5.1.1
torch==2.5.1
PySocks==1.7.1
pycosat==0.6.6
yarl==1.18.3
setuptools==72.1.0
ipywidgets==8.1.5
babel==2.16.0
xxhash==3.5.0
menuinst==2.2.0
protobuf==5.29.3
tzdata==2023.3
overrides==7.7.0
cffi==1.17.1
jupyter_core==5.7.2
dill==0.3.8
Send2Trash==1.8.3
wcwidth==0.2.13
lightning==2.5.0.post0
argon2-cffi==23.1.0
torchaudio==2.5.1
json5==0.10.0
jedi==0.19.2
parso==0.8.4
distro==1.9.0
accelerate==1.4.0
fonttools==4.55.3
sentry-sdk==2.20.0
mkl-service==2.4.0
typeguard==4.3.0
platformdirs==4.2.2
packaging==24.1
jaraco.context==5.3.0
importlib_resources==6.4.0
ordered-set==4.1.0
jaraco.text==3.12.1
zipp==3.19.2
wheel==0.43.0
more-itertools==10.3.0
jaraco.functools==4.0.1
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
tomli==2.0.1
typing_extensions==4.12.2
inflect==7.3.1
